
body {
   font-family: "Roboto Slab", sans-serif;
   font-size: 20px;
   font-weight: 700;
   color: #343434;
   background-color: #fdfeff;
}

/*------------------*/
.wrapper {
   min-height: 100%;
   width: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

/*------------------*/
.container {
   max-width: 1686px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}