.container-screen-02 {
  font-family: 'Inter', sans-serif;
}

.main__content {
  flex: auto;
}

.main__subtitle {
  font-family: 'Roboto Slab', sans-serif;
}

.main__testimonial {
  padding-top: 16px;
}

.main__header-subject {
  /*width: 500px;*/
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

/*.main__header {
  position: relative;
  display: inline-block;
  margin-bottom: 16px;
  padding-top: 0px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
}*/
.header-test {
  display: inline-block;
  /*margin-bottom: 16px;*/
  padding-top: 0px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
}
/*.header-test::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background: url('../img/icon/refresh.svg');
  right: -40px;
  top: 22px;
}*/

.main__button-header {

}
.btn-generation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding-left: 24px;
}

/*.btn-generation::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background: url('../img/icon/refresh.svg');
  left: -30px;
  top: 0px;
}*/

.main__descr {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
}

.main__subjects {
  display: none;
}

.subject {
  margin-bottom: 32px;
}

.subject__items {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 16px;
}

.subject__item {
  padding: 20px 28px;
  border-left: 3px solid #3ca9f0;
  border-radius: 10px;
  box-shadow: 0px 4px 12px 0px rgba(13, 10, 44, 0.06);
}

.subject__item input {
  font-size: 18px;
  font-weight: 700;
  line-height: 0.88;
  color: #343434;
}

.highlight {
  border: 2px solid #3ca9f0;
}

.main__cards {
  max-width: 1656px;
  margin-bottom: 32px;
}

.header-card {
  margin-bottom: 0px;
}

.card {}

.main__cards-wrap {
  display: flex;
  height: 290px;
  gap: 32px;
  align-items: center;
  margin-bottom: 20px;
}

.main__cards-content {
  display: flex;
  padding: 16px 10px 11px 10px;
  gap: 32px;
  overflow-x: scroll;
}

.main__cards-content::-webkit-scrollbar {
  -webkit-appearance: none;
}

.main__cards-content::-webkit-scrollbar:horizontal {
  height: 7px;
}

.main__cards-content::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  background-color: #9a9a9a;
}

.main__cards-content::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
}

.main__item {
  display: flex;
  flex-direction: column;
  min-width: 441px;
  height: 252px;
  padding: 16px 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px 0px rgba(13, 10, 44, 0.06);
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.main__item.over {
  border-color: #3ca9f0;
}

.card__dropdown {
  display: none;
}

.card__body .card__dropdown {
  display: block;
  margin-top: 8px;
}

.card__dropdown.open .card__dropdown-content {
  display: flex;
}

.card__dropdown-icon {
  transition: transform 0.3s ease;
}

.card__dropdown.open .card__dropdown-icon {
  transform: rotate(180deg);
}

.card__dropdown-content {
  display: none;
  flex-direction: column;
  gap: 4px;
  font-size: 16px;
  font-weight: 400;
  padding-top: 8px;
  overflow: hidden;
}

.card__dropdown-content label {
  display: flex;
  gap: 12px;
  align-items: center;
}

.card__dropdown-content input {
  height: 20px;
  width: 20px;
}

.checkbox-label {
  position: relative;
}

.card__dropdown-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 400;
  user-select: none;
  background: none;
}

.card__body {
  display: flex;
  flex: 1 1 auto;
  align-items: flex-start;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 600;
  border-bottom: 1px solid #eaeaea;
  overflow: hidden;
}
.card__body-text {
  padding-left: 12px;
  font-size: 16px;
  font-weight: 400;
  color: #9a9a9a;
}
/*.card__body.preview-hidden>.card__body-text{
  display: none;
}*/

.subject__item {
  cursor: pointer;
}
.card__body > .subject__item {
  order: 1;
  margin-left: 7px;
  font-weight: 600;
  line-height: 1.22;
  border: none;
  padding: 0;
  box-shadow: none;
}

.card__body.preview-hidden > .subject__item.gu-transit {
  display: none;
}
.card__body.placeholder-hidden .card__body-text {
  display: none;
}

.card__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  color: #3ca9f0;
}

.card__delete {
  position: relative;
}

.card__delete::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background: url('../img/icon/trash.svg');
  left: -36px;
  top: -2px;
}

.card__btn {
  position: relative;
  padding-left: 32px;
  text-align: left;
}

.card__btn::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  left: 0;
  background: url('../img/icon/plus.svg') center no-repeat;
  font-size: 24px;
  color: #3ca9f0;
  /*margin-right: 8px;*/
}
.subject__item-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.btn-subject::before {
  top: -2px;
}

.main__cards-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 161px;
}

.main__info {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  color: #656565;
}

.form__container-btn {
  margin-bottom: 30px;
}

.form__back-btn {}

.form__next-btn {}

.main__modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 14px 54px 0px rgba(0, 0, 0, 0.14);
  z-index: 1000;
}

.main__modal p {
  width: 372px;
  margin-bottom: 24px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.22;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.main__modal button {
  padding: 18px 52px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  /*background-color: transparent;*/
  border-radius: 12px;
}

.modal__cancel {
  margin-right: 16px;
  border: 1px solid #3ca9f0;
  color: #3ca9f0;
  background-color: transparent;
}

.modal__delete {
  background-color: #3ca9f0;
  color: #fff;
}

/*Drop and Drag*/

/* Dragula CSS Release 3.2.0 from: https://github.com/bevacqua/dragula */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';
  filter: alpha(opacity=80);
  border: 2px solid #3ca9f0;
  font-family: 'Inter', serif;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 28px;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)';
  filter: alpha(opacity=20);
  border: none;
}

@media (max-width: 1720px) {
  .header {
    padding-top: 20px;
    margin-bottom: 20px;
  }

  .main__subtitle {
    margin-bottom: 20px;
    font-size: 40px;
  }

  .main__subjects {
    margin-bottom: 20px;
  }

  .main__cards {
    max-width: 1540px;
    margin-bottom: 20px;
  }

  .subject__item {
    padding: 16px 20px;
  }

  .main__item {
    min-width: 400px;
    height: 230px;
  }

  .subject__item {
    font-size: 16px;
  }

  .subject__item input {
    font-size: 16px;
  }

  .main__cards {
    margin-bottom: 20px;
  }
}

@media (max-width: 1620px) {
  .main__item {
    min-width: 350px;
    height: 200px;
  }

  .main__cards {
    max-width: 1476px;
  }
}

@media (max-width: 1440px) {
  .header__logo {
    width: 150px;
  }

  .main__subtitle {
    margin-bottom: 15px;
    font-size: 30px;
  }

  .main__item {
    padding: 10px;
  }

  .main__cards-content {
    padding-top: 10px;
  }

  .main__cards {
    max-width: 1300px;
  }

  .main__cards-wrap {
    margin-bottom: 0;
    height: 240px;
  }

  .card__dropdown-toggle span {
    font-size: 14px;
  }

  .checkbox-label {
    font-size: 14px;
  }

  .main__header {
    font-size: 20px;
  }

  .main__descr {
    font-size: 16px;
  }

  /*.subject__item {
    font-size: 14px;
  }
  .subject__item input {
    font-size: 14px;
  }*/
  .subject__items {
    column-gap: 20px;
    row-gap: 10px;
  }

  .card__body {
    font-size: 16px;
  }

  .card__bottom {
    font-size: 16px;
  }

  .card__btn {
    font-size: 16px;
  }
}

.main__subjects-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner-container {
  display: none;
  width: 63px;
  height: 63px;
  position: fixed;
  top: 0%;
  left: 0%;
  /*transform: translate(-50%, -50%);*/
  padding-top: 50px;
  padding-bottom: 100px;
}

.spinner {
  max-width: 63px;
  height: 63px;
  margin: 0 auto;
  /*border: 5px solid #3498db;
  border-top-color: transparent;*/
  background: url('../img/icon/spinner.png') no-repeat;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg); 
  }
}