.header-03 {
  margin-bottom: 0;
  padding-top: 2.08vw;/*40px*/
  padding-bottom: 2.08vw;/*40px*/
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__interactive {
  display: flex;
  gap: 1.67vw;/*32px*/
  font-family: 'Inter', sans-serif;
  font-size: 1.62vw; /*22px*/
  line-height: 1.22;
  color: #858585;
}
.header__link {
  color: inherit;
  font-weight: 400;
}
.header__code {
  font-weight: 400;
}
.header__link span,
.header__code span {
  margin-left: 8px;
  font-weight: 700;
}

.page-10 {
  flex: 1 1 auto;
  display: flex;
  align-items: start;
  justify-content: center;
}
.present__container {
  /*max-width: 1420px;
  padding-left: 30px;
  padding-right: 30px;*/
  max-width: 1600px;
  padding-left: 90px;
  padding-right: 90px;
  margin: 0 auto;
  display: flex;
  column-gap: 6.77vw;/*130px*/
}
/*.container-1 {
  padding-left: 0px;
  padding-right: 0px;
}*/
.container-3 {
  flex-direction: column;
  row-gap: 48px;
}
.container-8 {
  flex-direction: column;
  padding-bottom: 30px;
}
.container-text {
  flex-direction: column;
}
.present__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.present__content-06 {
  flex-direction: row;
  gap: 130px;
}
.present__content-07 {
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.present__content-08 {
  margin-bottom: 60px;
}
.present__content-10 {
  flex-direction: row;
  gap: 120px;
  justify-content: space-between;
  align-items: start;
}
.present__content-14 {
  align-items: start;
}
.present__title {
  font-size: 3.09vw; /*42px*/
  line-height: 1.3;
}
.present__title:not(:last-child) {
  margin-bottom: 48px;
}
.present__title-15 {
  padding-top: 20px;
}
.present__title-15:not(:last-child) {
  margin-bottom: 4.41vw;
}
.present__title-10:not(:last-child),
.present__title-12:not(:last-child) {
  margin-bottom: 3.68vw;/*50px*/
}
.present__title-12 {
  font-size: 2.94vw;
}

.present__list-06 {
  align-self: start;
}
.list {
  font-family: 'Inter', sans-serif;
  font-size: 1.62vw; /*22px*/
  font-weight: 400;
  line-height: 1.4;
}
.text-14 {
  margin-bottom: 24px;
}
.list__title {
  margin-bottom: 20px;
  font-size: 2.35vw; /*32px*/
  font-weight: 600;
  line-height: 1.4;
}
.list__title-12 {
  font-size: 2.21vw; /*30px*/
}
.list__text-12 {
  font-size: 1.47vw; /*20px*/
}
.list__items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.list__items-06 {
  gap: 32px;
}
.list__item {
  position: relative;
  padding-left: 24px;
}
.list__item-06 {
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 2.06vw; /*28px*/
}
.list__item::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 20px;
  top: 12px;
  left: 0;
  background-color: #343434;
}
.list__number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 59px;
  height: 59px;
  padding: 23px;
  font-size: 2.06vw; /*28px*/
  font-weight: 500;
  text-align: center;
  border-radius: 50%;
  color: #fff;
}
.list__number-blue {
  background-color: #5cbefe;
}
.list__number-pink {
  background-color: #ef5579;
}
.list__number-purple {
  background-color: #545db6;
}
.list-column {
  display: flex;
  flex-direction: column;
  /*gap: 50px;*/
}
.list-column__block {
  max-width: 620px;
}
.list-column__block:not(:last-child) {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom-width: 15px;
  border-bottom-style: solid;
  border-image: url('../img/screen-03/border-bottom.svg') 10 round;
  /*border-bottom: 10px solid url('../img/screen-03/border-bottom.svg') 30 round;*/
}
.list-column__block-15 {
  padding-top: 48px;
}
.present__image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 50%;
}
.present__image img {
  max-width: 100%;
  border-radius: 30px;
}
.present__image-03 {
  width: 50vw;
  height: 28.13vw;
  margin: 0 auto;
  padding-bottom: 2.60vw;
}
.present__image-06 {
  padding-top: 150px;
  align-self: end;
}

.present__items {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  column-gap: 20px;
}
.present__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.present__image-05 {
  object-fit: cover;
}
.present__image-05 img {
  max-width: 100%;
}
.present__descr {
  font-size: 2.06vw; /*28px*/
  font-weight: 600;
  line-height: 1.35;
}
.present__descr-main {
  font-size: 2.94vw; /*40px*/
  color: #ffb42a;
}
.present__voice {
  color: #9a9a9a;
}
.present__text {
  max-width: 392px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 1.62vw; /*22px*/
  font-weight: 400;
  line-height: 1.4;
}
.present__btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-present__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  margin-top: 40px;
  padding: 18px 52px;
  font-family: 'Inter', serif;
  font-size: 1.32vw; /*18px*/
  font-weight: 500;
  line-height: 1.2;
  color: #3ca9f0;
  border: 1px solid #3ca9f0;
  border-radius: 12px;
  background-color: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn-present__button:hover {
  background-color: #3ca9f0;
  color: #fff;
}
@media(max-width: 1420px) {
  .header-03 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  /*.header__interactive {
    font-size: 18px;
  }*/
  .present__container {
    column-gap: 70px;
  }
  .present__content-06 {
    column-gap: 70px;
  }
  .present__image-06 {
    padding-top: 100px;
  }
  /*.list__item-06,
  .list__number {
    font-size: 22px;
  }*/
  .present__content-08 {
    margin-bottom: 40px;
  }
}

@media(max-width: 1200px) {
  .present__container {
    column-gap: 40px;
  }
  .present__content-06 {
    column-gap: 40px;
  }
  .present__content-08 {
    margin-bottom: 20px;
  }
  .present__title:not(:last-child) {
    margin-bottom: 20px;
  }
  .list__title {
    margin-bottom: 20px;
  }
  .present__image-06 {
    padding-top: 0px;
    align-self: center;
  }
  .btn-present__button {
    margin-top: 20px;
  }
}

.tippy-tooltip {
  padding: 10px 12px;
  background-color: #343434;
  color: #fff;
  font-family: 'Inter', serif;
  font-size: 16px;
  font-weight: 500;
}
