.page__mobile {

}

.mobile__container {
  max-width: 407px;
  /*margin: 0 auto;*/
  padding: 16px;
  font-family: 'Nunito', serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33;
}
.mobile__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*gap: 24px;*/
}
.mobile__image{
  margin-bottom: 24px;
}
.mobile__image img{
  width: 100%;
}
.mobile__logo {
  max-width: 87px;
  height: 80px;
}
.mobile__image-02 {
  max-width: 194px;
  height: 240px;
}
.mobile__image-03 {
  position: relative;
  margin-bottom: 28px;
  width: 140px;
  height: 140px;
}
.mobile__image-04 {
  max-width: 220px;
  height: 172px;
}
.mobile__block-arrow {
  display: flex;
  gap: 40px;
  margin-bottom: 16px;
}
.mobile__image-time {
  position: absolute;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 2px;
}
.mobile__timer {
  position: relative;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}
#timer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#timer-circle {
  transition: stroke-dasharray 1s linear;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke-linecap: round;
}
.mobile__text {
  width: 100%;
  text-align: center;
}
.mobile__text:not(:last-child) {
  margin-bottom: 24px;
}
.text-gray {
  margin-bottom: 95px;
  color: #9a9a9a;
}
.mobile__title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
}
.mobile__subtitle {
  margin-bottom: 30px;
  font-size: 19px;
  font-weight: 500;
  line-height: 1.26;
}
.mobile__code {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
}
.mobile__input input{
  text-align: center;
  width: 46px;
  height: 60px;
  font-size: 20px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 10px;
}
.mobile__name {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 12px;
  padding: 12px 12px 16px 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px 0px rgba(13, 10, 44, 0.06);
}
.mobile__name label {
  margin-bottom: 8px;
  font-size: 11px;
  font-weight: 700;
  line-height: 1.27;
  text-transform: uppercase;
  color: #9a9a9a;
}
.mobile__name input {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  color: #343434;
}
.mobile__answer {
  width: 100%;
  height: 112px;
  padding: 16px;
  margin-bottom: 24px;
  border: 1.25px solid #9a9a9a;
  border-radius: 10px;
}
.mobile__answer textarea {
  width: 100%;
  height: 100%;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.29;
  color: #343434;
  resize: none;
}
.mobile__answer textarea::placeholder {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.29;
  color: #9a9a9a;
}
.mobile__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /*padding: 16px 52px;
  border-radius: 12px;*/
}
.mobile__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px 52px;
  border-radius: 12px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  /*background-color: transparent;*/
  background-color: #3ca9f0;
  transition: background-color 0.3s ease;
  color: #fff;
}
.mobile__btn:hover {
  background-color: #71bef1;
}
/*.mobile__button-gray {
  background-color: #eaeaea;
}
.mobile__button-gray button {
  color: #9a9a9a;
}*/
.mobile__button-blue {
  margin-bottom: 16px;
}

.mobile__btn:disabled {
  background-color: #eaeaea;
  color: #9a9a9a;
}

.mobile__answer-wrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin-bottom: 24px;
}
.mobile__answer-wrap-06 {
  margin-bottom: 105px;
}
.mobile__answer-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 20px 28px;
  border-left: 2px solid #3CA9F0;
  box-shadow: 0px 4px 12px 0px rgba(13, 10, 44, 0.06);
}

.mobile__answer-btn button {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.38;
  background-color: transparent;
}
.mobile__star {
  display: flex;
  align-self: start;
  justify-content: center;
  gap: 4px;
}
.mobile__star span {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.33;
  color: #3ca9f0;
}

.mobile__warning {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  color: #9a9a9a;
}


