.header__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-family: "Inter", serif;
}

.screen-04__btn {
  position: relative;
  width: 60px;
  height: 60px;
  padding: 18px;
  border: 1px solid #3ca9f0;
  border-radius: 12px;
  background-color: transparent;
}

.header__button-home::before {
  content: '';
  position: absolute;
  top: 18px;
  left: 18px;
  width: 24px;
  height: 24px;
  background: url('../img/icon/home.svg') center no-repeat;
}

.form__forward-btn {
  position: relative;
  width: 60px;
  height: 60px;
  padding: 18px;
  border: 1px solid #3ca9f0;
  border-radius: 12px;
  background-color: transparent;
}

.form__forward-btn::before {
  content: '';
  position: absolute;
  top: 18px;
  left: 18px;
  width: 24px;
  height: 24px;
  background: url('../img/icon/arrow-left.svg') center no-repeat;
  transform: rotate(180deg);
}

.header__button-show {
  padding: 18px 52px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  border-radius: 12px;
  background-color: transparent;
  border: 1px solid #3ca9f0;
  color: #3ca9f0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header__button-show:hover {
  background-color: #3ca9f0;
  color: #fff;
}

.header__slideshow {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
}

/*Content*/
.container-screen-04 {
  display: flex;
  flex-direction: column;
  max-width: 1390px;
  padding-left: 30px;
  padding-right: 30px;
}

.screen-04__object {
  position: relative;
  padding-bottom: 56%;
  aspect-ratio: 16 / 9;

}

.screen-04__object iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid #cacbcb;
  border-radius: 12px;
}

.screen-04__slides-box {
  display: flex;
  padding-bottom: 12px;
  width: 100%;
  overflow-x: scroll;
}

.screen-04__slides {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;


}

.screen-04__slides-box::-webkit-scrollbar {
  -webkit-appearance: none;
}

.screen-04__slides-box::-webkit-scrollbar:horizontal {
  height: 7px;
}

.screen-04__slides-box::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  background-color: #9a9a9a;
}

.screen-04__slides-box::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
}

.screen-04__slides-content {
  position: relative;
  display: flex;
  min-width: 156px;
  height: 88px;
  border: 1px solid #cacbcb;
  border-radius: 12px;
}

.screen-04__slide {
  position: absolute;
  bottom: -1px;
  left: -1px;
  padding: 8px 12px;
  font-family: "Inter", serif;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #cacbcb;
  border-radius: 12px;
}

/*Modal edit*/

.screen-04__modal {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 420px;
  transform: translate(-50%, -50%);
  padding: 24px;
  font-family: "Inter", serif;
  font-size: 18px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 14px 54px 0px rgba(0, 0, 0, 0.14);
  z-index: 1000;
}

.modal-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 420px;
  transform: translate(-50%, -50%);
  padding: 24px;
  font-family: "Inter", serif;
  font-size: 18px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 14px 54px 0px rgba(0, 0, 0, 0.14);
  z-index: 1000;
}

.error-message {
  display: none;
  color: crimson;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}

.modal-link {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 420px;
  transform: translate(-50%, -50%);
  padding: 24px;
  font-family: "Inter", serif;
  font-size: 18px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0px 14px 54px 0px rgba(0, 0, 0, 0.14);
  z-index: 1000;
}


#editOverlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.screen-04__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.modal-form__container {
  gap: 0px;
}
.modal-link__header {
  display: flex;
}
.screen-04__modal-title {
  font-weight: 600;
  line-height: 1.22;
}

.modal-form__title {
  margin-bottom: 40px;
  font-weight: 400;
}

.screen-04__modal-list {
  font-weight: 400;
}

.screen-04__modal-btn {
  padding: 18px 47px;
}

.form__cancel-modal {
  margin-left: auto;
  margin-bottom: 16px;
  width: 24px;
  height: 24px;
  background: url('../img/icon/cancel-form.svg') no-repeat;
}

.modal-link__wrap {
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/

}
.modal-link__input {
  width: 316px;
  height: 52px;
  border: 1px solid #eaeaea;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 17px 16px;
}
.modal-link__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  background: url('../img/icon/copy.svg') center no-repeat;
  border: 1px solid #eaeaea;
  border-left: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/*#tooltip {
  display: none;
  position: fixed;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  z-index: 1000;
}*/

.tooltip {
  display: none;
  position: fixed;
  z-index: 9999;
}

.tooltip-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-family: "Inter", serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  padding: 10px 12px;
  background-color: #343434;
  border-radius: 4px;
}
.tooltip-wrap::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: -15px;
  left: 70%;
  border-width: 0 12px 12px 12px;
  border-style: solid;
  border-color: transparent transparent #343434 transparent;
}



